# Node modules
node_modules/

# Logs
*.log
logs/

# Environment variables
.env

# Dependency directories
jspm_packages/

# Build output
dist/
build/

# Operating System files
.DS_Store
Thumbs.db

# IDE and editor specific files
.vscode/
.idea/
*.swp
